services:
  enigma-da-service:
    image: enigma-da-service:latest
    container_name: enigma-da-service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      RUST_LOG: info
      RUST_BACKTRACE: 1
      SERVER_PORT: ${SERVER_PORT}
      SERVER_HOST: ${SERVER_HOST}
      CA_CERT: ${CA_CERT}
      SERVER_CERT: ${SERVER_CERT}
      SERVER_KEY: ${SERVER_KEY}
    volumes:
      - /var/run/dstack.sock:/var/run/dstack.sock
      - ./data:/app/data
    command: ["/app/start.sh"]
