[package]
name = "proto"
version = "0.1.0"
edition = "2024"

[dependencies]
tonic = { workspace = true }
prost = { workspace = true }
serde = { workspace = true }

[build-dependencies]
tonic-build = "0.8"
prost-build = "0.11.1"
