# ===========================
# TEE Quote Env Vars
# ===========================

PCCS_URL= # PCCS URL to fetch the collatrel when verifying the quote.
APP_COMPOSE_HASH= # app-compose.json hash
EXPECTED_MR_VALUE_MRTD= # Expected MRTD value generated using dstack-mr
EXPECTED_MR_VALUE_RTMR0= # Expected RTMR0 value generated using dstack-mr
EXPECTED_MR_VALUE_RTMR1= # Expected RTMR1 value generated using dstack-mr
EXPECTED_MR_VALUE_RTMR2= # Expected RTMR2 value generated using dstack-mr

# ===========================
# P2P Env Vars 
# ===========================

P2P_NODE_NAME= # Node name (used for tests and log differentiation)
P2P_NODE_PORT= # Port number for P2P protocol to communicate on
P2P_PROTOCOL_NAME= # Name of P2P protocol to connect to, Eg: "/enigma-kms-p2p/message/1.0.0"
P2P_IDENTIFY_PROTOCOL_VERSION= # Name of the identify protocol initialized, Eg: "/encrypted-network/1.0.0"
P2P_NODE_KEY_PATH= # Path to the node key path, Eg: "./node_key_node_a.bin"