name: Cargo Test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy
    
    - name: Cache dependencies
      uses: Swatinem/rust-cache@v2
    
    - name: Check formatting
      run: cargo fmt --all -- --check

    - name: Clone Dstack-TEE/dstack repo
      uses: actions/checkout@v4
      with:
        repository: Dstack-TEE/dstack
        path: dstack
    
    - name: Build and Setup dstack
      run: |
       cd dstack/sdk/simulator && ./build.sh
       echo "export DSTACK_SIMULATOR_ENDPOINT=$(pwd)/dstack.sock" >> $GITHUB_ENV
       ./dstack-simulator &

    - name: Build enigma kms node & copy binary
      run: |
       git submodule update --init --recursive
       cd enigma-kms-node && cargo build --features persistent-connection
       cd .. && cp enigma-kms-node/target/debug/enigma-kms-node target/debug/enigma-kms-node

    - name: list dirs
      run: cd target/debug && ls -la

    - name: Run tests
      run: RUST_LOG=info cargo test -- --test-threads=1 --nocapture
