name: Release

on:
  push:
    tags:
      - 'v*'

env:
  DOCKER_IMAGE: "availj/enigma-da"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.GH_TOKEN }}

      - name: Get version
        id: get_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "version=${VERSION}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:latest
            ${{ env.DOCKER_IMAGE }}:enigma-service-${{ steps.get_version.outputs.VERSION }}

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: softprops/action-gh-release@v1
        with:
          body: |
            Release ${{ steps.get_version.outputs.VERSION }}
            
            ## Docker Image
            
            ```bash
            # Latest version
            docker pull ${{ env.DOCKER_IMAGE }}:latest
            # Specific version
            docker pull ${{ env.DOCKER_IMAGE }}:enigma-service-${{ steps.get_version.outputs.VERSION }}
            ```